.about-container{
    display: flex;
   
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute; 
    opacity: 0;
    transform: scale(0);
    transition: 0.5s;
    background-color: #EEF1FF;
    overflow: auto;
    height: 100%;
    width: 100%;
}

.about-in{
    opacity: 1;
    transform: scale(1);
}

.about-section{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.imgAndText-container{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    max-width: 75vw;

}


.text{
    min-width: 200px;
    margin: 30px;
    font-size: 1.8rem;
}


.cv-photo{
    max-width: 300px;
    margin: 30px;
    border-radius: 50%;
}


.btn.modal-button:hover{
    background-color: aliceblue;
}

.video{
    display: flex;
    justify-self: center;
}

.img2{
    max-width: 60vw;
}