.about-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    min-width: 100%;
}


.imgAndText-container1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.text1{
    min-width: 200px;
    margin: 30px;
    font-size: 1.8rem;
}

.cv-photo{
    width: 300px;
    margin: 30px;
    border-radius: 50%;
}


.imgAndText-container2{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.text2{
    margin: 30px;
    font-size: 1.8rem;
}