.cardsPage-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    align-items: center;
    font-family: 'Gruppo', cursive;
    position: absolute;
    transition: 0.5s ease-in;
    
}

.left,
.right{
    opacity: 1;
    transform: translateY(0);
    transition: 0.5s ease-in;
    width: 50vw;
}

.cards-left-out{
    opacity: 0;
    transform: translateY(-200vh);
    transition: 0.5s ease-in;
}

.cards-right-out{
    opacity: 0;
    transform: translateY(200vh);
    transition: 0.5s ease-in;
}


.card-title{
    font-weight: bolder;
    font-size: 5rem;
}

.card-text{
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}


.contact{
    margin: 10px;
    border-radius: 10px;
}

.contact:hover{
    background-color: aliceblue;
}

.card-link{
    cursor: pointer;
}

.about{
    margin: 10px;
    border-radius: 10px;
}
.about:hover{
    background-color: aliceblue;
} 

.proyects{
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proyects:hover{
    background-color: aliceblue;
}