.contact-container{
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 50vw;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.contact-header{
    display: flex;
    justify-content: flex-start;
    margin: 30px;
    width: 100%;
}

.title{
    margin: 40px;
    font-size: 5.5em;
}

.message{
    margin: 30px;
    font-size: 1.8em;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}