.contact-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    position: absolute;
    opacity: 0;
    transform: scale(0);
    transition: 0.5s;
}

.contact-in{
    opacity: 1;
    transform: scale(1);
}


p{
    padding: 10px;
}

.contact-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    margin: 40px;
    font-size: 5.5em;
}

.contact-text{
    margin: 30px;
    font-size: 1.8em;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
}

.box{
    margin: 10px;
    border-radius: 10px;
    border: 1px gray solid;
    background-color: white;
}