.introduction-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-image: url('/images/workplace.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    z-index: 100;
    transition: 0.5s;
}

.introduction-container-out{
    transform: translateY(-150vh);
}

.introduction-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.frontend{
    color: white; 
    font-size: 3em;
    font-weight: bold;
}

.introduction-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    
}

.portfolio{
    color: white; 
    font-size: 4em; 
    font-weight: bolder;
}

