.introduction-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #BCCEF8;
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    z-index: 100;
    transition: 0.5s;
}

.introduction-container-out{
    transform: translateY(-150vh);
}


.frontend{
    color: white; 
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 100px;
}


.portfolio{
    color: white; 
    font-size: 4em; 
    font-weight: bolder;
}

