.main{
    background-color: #EEF1FF;
    color: black;
    font-size: small;
}

.btn.closeButton{
    display: flex;
    justify-self: end;
    background-color: blueviolet;
    position: sticky;
    top: 20px; 
    z-index: 100;
}

.btn.closeButton:hover{
    background-color: blueviolet;
}



