.proyectsPage-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #EEF1FF;
    min-height: 100vh;
    max-width: 100vw;
    position: absolute;
    opacity: 0;
    transform: scale(0);
    transition: 0.5s;
    overflow: hidden;
}

.proyects-in{
    opacity: 1;
    transform: scale(1);
}


.cards-section{
    display: flex;
    flex-direction: row;
    overflow: auto;
    position:relative;
    max-width: 100vw;
    justify-content: flex-start;
    align-items: center;
}

.cards-buttons{
    max-height: 100px;
    position: absolute;
    z-index: 100;
    background-color: transparent;
}


.image-container{
    padding: 10px;
    background-color: gray;
}


.proyect-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    transition: 0.5s;
}

.move-left{
    transform: translateX(-580px);
}

.move-right{
    transform: translateX(580px);
}

.card-img-top{
    width: 75%;
}

.card-body{
    display: flex;
    flex-direction: column;
}





/*.list-container{
    margin: auto
}

.proyect-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
}

.image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    min-width: 100px;
    margin-right: 20px;
}

.image{
    max-width: 200px;
    max-height: 200px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.text h4{
    font-size: 1.8em;
}*/