.proyectsPage-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EEF1FF;
    min-height: 100vh;
    width: 100vw;
    position: absolute;
    opacity: 0;
    transform: scale(0);
    transition: 0.5s;
}

.proyects-in{
    opacity: 1;
    transform: scale(1);
}

.list-container{
    margin: auto
}

.proyect-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
}

.image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    min-width: 100px;
    margin-right: 20px;
}

.image{
    max-width: 200px;
    max-height: 200px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.text h4{
    font-size: 1.8em;
}