.proyectsPage-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #EEF1FF;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    transform: scale(0);
    transition: 0.5s;
    overflow: auto;
}

.proyects-in{
    opacity: 1;
    transform: scale(1);
}

.button-section{
    display: flex;
    justify-content: space-between;
    height: 70px;
    max-width: 100%;
}

.cards-buttons{
    max-height: 100px;
    position: absolute;
    z-index: 100;
    background-color: transparent;
}


.cards-section{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    width: 100vw;
    scroll-behavior: smooth;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    transition: 0.5s;
    flex: auto;
    max-height: 600px;
    max-width: 560px;
}

.image-container{
    padding: 10px;
    background-color: gray;
}


.card-img-top{
    width: 75%;
}

.card-body{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.card-title{
    font-size: 3em;
}









