#root {
  max-height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Gruppo', cursive;
  background-color: #EEF1FF;
  /*overflow: hidden;*/ 
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


