#root {
  min-height: 100vh;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  font-family: 'Gruppo', cursive;
  background-color: #EEF1FF;
  overflow: hidden;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.button{
  background-color: transparent;
  border: none;
}


